@charset "UTF-8";

$component: componentClass("sliderstrip1");
$cmp-tokens: ();

.#{$component}{
    &__inner{
        position:relative;
        .#{$component}__slider-arrow{
            position:absolute;
            transform:translate(0,-50%);
            top:50%;
            &--prev{
                left:0;
            }
            &--next{
                right:0;
            }
        }
    }

    &--arrows-out{
        .#{$component}__slider-arrow{
            &--prev{
                left:-#{tokenSpacer(8)};
            }
            &--next{
                right:-#{tokenSpacer(8)};
            }
        }
    }
    &__slider-arrow{
        @include media-breakpoint-down("lg"){
            display:none;
        }
    }
}