@charset "UTF-8";

$component: componentClass("sliderstrip1");
$cmp-tokens: ();

.zaux-theme--#{$zaux-theme-light1} .#{$component}{
    &--theme2{
        background-color:tokenColor("set1","color4");
    }
}