<script>
  !(function (f, c) {
    var ns = f[c] = f[c] || {};
    {% if lang %}
      ns.lang = {{lang | dump | safe}};
    {% endif %}
    ns.config = {
      "debug": false,
      "appName": "{{app.name}}",
      "activeLanguage" : "{{app.lang}}",
      "appLoadedClassName": "{{token_defs['app-loaded-classname']}}",
      "breakpoints": {{token_breakpoints | dump | replace("px", "") | safe}},
      "helpers": {
        "lazyload": {
          "fallbackLibUrl": "//cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
        }
      }
    };
  })(this, 'zaux');
</script>
