<!-- Fonts -->
<link href="{{zaux_config.properties.assetsDistURL}}/fonts/{{token_defs.mainFontSlug}}/stylesheet.css" rel="stylesheet preload" as="style" crossorigin>
{#<link rel="stylesheet" href="https://use.typekit.net/waz3idw.css"><link rel="stylesheet" href="https://use.typekit.net/waz3idw.css">#}
