{# Sets the layout to be extended #}
{% extends "layouts/default.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": template_home,
  "title": "Contatti",
  "className" : "zaux-theme--light1",
  "isHome" : true
} %}

{# Imports components #}
{% import 'components/emptyblock/emptyblock.njk' as EmptyBlock %}
{% import 'components/header/header.njk' as header %}
{% import 'components/newsletterbox1/newsletterbox1.njk' as NewsletterBox1 %}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btn.njk' as Button %}
{% import 'components/herocomp1/herocomp1.njk' as HeroComp1 %}
{% import 'components/section1/section1.njk' as Section1 %}
{% import 'components/section4/section4.njk' as Section4 %}
{% import 'components/section6/section6.njk' as Section6 %}
{% import 'components/gridlist1/gridlist1.njk' as GridList1 %}
{% import 'components/contactbox1/contactbox1.njk' as ContactBox1 %}
{% import 'components/card1/card1.njk' as Card1 %}
{% import 'components/card2/card2.njk' as Card2 %}
{% import 'components/card3/card3.njk' as Card3 %}
{% import 'components/bulletlist/bulletlist.njk' as BulletList %}
{% import 'components/map/map.njk' as Map %}
{% import 'components/cardicon/cardicon.njk' as CardIcon %}
{% import 'components/sliderstrip1/sliderstrip1.njk' as SliderStrip1 %}
{% import 'components/img/img.njk' as Img %}
{% import 'components/bannerimg1/bannerimg1.njk' as BannerImg1 %}
{% import 'components/titlebanner/titlebanner.njk' as TitleBanner %}
{% import 'components/breadcrumbs1/breadcrumbs1.njk' as Breadcrumbs %}
{% import 'components/contentlayout1/contentlayout1.njk' as ContentLayout1 %}
{% import 'components/summarymenu/summarymenu.njk' as SummaryMenu %}
{% import 'components/cardlink/cardlink.njk' as CardLink %}
{% import 'components/sharebar/sharebar.njk' as ShareBar %}
{% import 'components/richtextblock1/richtextblock1.njk' as RichTextBlock1 %}
{% import 'components/treenav/treenav.njk' as TreeNav %}
{% import 'components/map/map.njk' as Map %}


{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}

    <!-- Hero Banner -->
        {{ BannerImg1.content() }}
    <!-- End of hero banner -->

    <!-- Breadcrumbs -->
        <div class="container-l pb-6 pt-7 pt-md-9 pb-md-7">
            {{ Breadcrumbs.content() }}
        </div>
    <!-- End of breadcrumbs -->

    <!-- Title banner -->
        {{
            TitleBanner.content(
                {
                    "title" : "Contatti"
                }
            )
        }}
    <!-- End of title banner -->
    
    <!-- Contatti content -->
        {# Content #}
          {% set content %}
            <div class="pt-6 pt-md-0">
                <div class="row g-2">
                    <div class="col-12 col-md-5 d-flex flex-column gap-6">
                        {{
                            Img.content(
                                {
                                    "mainSrc" : "https://placehold.co/576x142",
                                    "imgHeight" : 71,
                                    "imgWidth" :  284
                                }
                            )
                        }}
                        <p class="fs-2 lh-2">
                          <strong>Giusti</strong> s.r.l
                          <br/>
                          Via Alberto Franchetti 19 50127 Firenze
                          <br/>
                          Partita IVA: IT01551870486
                        </p>
                    </div>
                    <div class="col-12 col-md-7">
                      <div class="zaux-bg-set1-color2 p-6">
                        <ul class="d-flex flex-column gap-6">
                          <li>
                            <a class="d-flex gap-3 align-items-center" href="#" title="Title here">
                              {{
                                Icon.content({ "className" : ["zaux-color-set1-color1"], "variations" : ["size-3"], "iconName" : "envelope"})
                              }}
                              <span>info@giustisoft.it</span>
                            </a>
                          </li>
                          <li>
                            <a class="d-flex gap-3 align-items-center" href="#" title="Title here">
                              {{
                                Icon.content({ "className" : ["zaux-color-set1-color1"], "variations" : ["size-3"], "iconName" : "envelope"})
                              }}
                              <span>info@giustisoft.it</span>
                            </a>
                          </li>
                                                <li>
                            <a class="d-flex gap-3 align-items-center" href="#" title="Title here">
                              {{
                                Icon.content({ "className" : ["zaux-color-set1-color1"], "variations" : ["size-3"], "iconName" : "envelope"})
                              }}
                              <span>info@giustisoft.it</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>  
                </div>
            </div>
          {% endset %}
        {# End of content #}
        {# Sidebar #}
            {% set SummaryContent %}
                <!-- Summary -->
                    {{
                        TreeNav.content(
                            {
                                "title" : "Tree nav title",
                                "backBtn" : {
                                    "link" : "#back-link",
                                    "label" : "Scheda Principale"
                                },
                                "entries" : [
                                    {
                                        "mainLevel" : {
                                            "label" : "First level label",
                                            "link" : "#first-level-link"
                                        }
                                    },
                                    {
                                        "mainLevel" : {
                                            "label" : "First level label",
                                            "link" : "#first-level-link"
                                        }
                                    },
                                    {
                                        "mainLevel" : {
                                            "highlight" : true,
                                            "label" : "First level label",
                                            "link" : "#first-level-link"
                                        }
                                    },
                                    {
                                        "mainLevel" : {
                                            "label" : "First level label",
                                            "link" : "#first-level-link"
                                        },
                                        "subLevel" : [
                                            {
                                                "mainLevel" : {
                                                    "highlight" : true,
                                                    "link" : "#test-highlight",
                                                    "label" : "Sublevel title linked highlighted"
                                                }
                                            },
                                            {
                                                "mainLevel" : {
                                                    "label" : "Second level label",
                                                    "link" : "#test"
                                                }
                                            },
                                            {   
                                                "mainLevel" : {
                                                    "label" : "Third level opening title no link"
                                                },
                                                "subLevel" : [
                                                    {
                                                        "mainLevel" : {
                                                            "label" : "Third level",
                                                            "link" : "#third-level-link"
                                                        },
                                                        "subLevel" : [
                                                            {
                                                                "mainLevel" : {
                                                                    "label" : "Fourth level",
                                                                    "link" : "#fourth-level-link"
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "mainLevel" : {
                                                            "label" : "Third level",
                                                            "link" : "#third-level-link"
                                                        },
                                                        "subLevel" : [
                                                            {
                                                                "mainLevel" : {
                                                                    "label" : "Fourth level",
                                                                    "link" : "#fourth-level-link"
                                                                }
                                                            }
                                                        ]
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "mainLevel" : {
                                            "label" : "First level label",
                                            "link" : "#first-level-link"
                                        }
                                    },
                                    {
                                        "mainLevel" : {
                                            "label" : "First level label",
                                            "link" : "#first-level-link"
                                        }
                                    },
                                    {
                                        "mainLevel" : {
                                            "label" : "First level label",
                                            "link" : "#first-level-link"
                                        }
                                    }
                                ]
                            }
                        )
                    }}
                <!-- End of summary -->
            {% endset %}
        {# End of sidebar #}
    <!-- End of social wall -->

    {{
        ContentLayout1.content(
            {
                "className" : ["pb-10"],
                "layout" : "layout2",
                "col1Content" : [
                    { "content" : content }
                ],
                "col2Content" : [
                    { "content" : SummaryContent }
                ]
            }
        )
    }}
    
    <!-- Map -->  
      {{ Map.content({
          "className" : ["h-390px h-md-600px"],
          "src" : "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5759.862461651769!2d11.209139!3d43.79504000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132a56e190990909%3A0x70c0443cebc153ba!2sVia%20Alberto%20Franchetti%2C%2019%2C%2050127%20Firenze%20FI!5e0!3m2!1sit!2sit!4v1684190719849!5m2!1sit!2sit"
      }) }}
    <!-- End of map -->

{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
