{# Sets the layout to be extended #}
{% extends "layouts/default.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": template_home,
  "title": "Nikè Magazine",
  "className" : "zaux-theme--light1",
  "isHome" : true
} %}

{# Imports components #}
{% import 'components/emptyblock/emptyblock.njk' as EmptyBlock %}
{% import 'components/header/header.njk' as header %}
{% import 'components/newsletterbox1/newsletterbox1.njk' as NewsletterBox1 %}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btn.njk' as Button %}
{% import 'components/herocomp1/herocomp1.njk' as HeroComp1 %}
{% import 'components/section1/section1.njk' as Section1 %}
{% import 'components/section4/section4.njk' as Section4 %}
{% import 'components/section6/section6.njk' as Section6 %}
{% import 'components/gridlist1/gridlist1.njk' as GridList1 %}
{% import 'components/contactbox1/contactbox1.njk' as ContactBox1 %}
{% import 'components/card1/card1.njk' as Card1 %}
{% import 'components/card2/card2.njk' as Card2 %}
{% import 'components/card3/card3.njk' as Card3 %}
{% import 'components/bulletlist/bulletlist.njk' as BulletList %}
{% import 'components/map/map.njk' as Map %}
{% import 'components/cardicon/cardicon.njk' as CardIcon %}
{% import 'components/sliderstrip1/sliderstrip1.njk' as SliderStrip1 %}
{% import 'components/img/img.njk' as Img %}
{% import 'components/bannerimg2/bannerimg2.njk' as BannerImg2 %}
{% import 'components/titlebanner/titlebanner.njk' as TitleBanner %}
{% import 'components/breadcrumbs1/breadcrumbs1.njk' as Breadcrumbs %}
{% import 'components/richtextblock1/richtextblock1.njk' as RichTextBlock1 %}
{% import 'components/indexlist/indexlist.njk' as IndexList %}
{% import 'components/mediacard1/mediacard1.njk' as MediaCard1 %}
{% import 'components/sharebar/sharebar.njk' as ShareBar %}
{% import 'components/treenav/treenav.njk' as TreeNav %}
{% import 'components/contentlayout1/contentlayout1.njk' as ContentLayout1 %}
{% import 'components/cardinline1/cardinline1.njk' as CardInline1 %}
{% import 'components/pagination/pagination.njk' as Pagination %}
{% import 'components/cardwide1/cardwide1.njk' as CardWide1 %}
{% import 'components/slideshow2/slideshow2.njk' as SlideShow2 %}
{% import 'components/tag/tag.njk' as Tag %}


{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}

    <!-- Hero Banner -->
        {{ BannerImg2.content( { "img" : { "mainSrc" : zaux_config.properties.mediaDistURL + "/img/nike-magazine-large.svg" } } ) }}
    <!-- End of hero banner -->

    <!-- Breadcrumbs -->
        <div class="container-l py-6">
            {{ Breadcrumbs.content() }}
        </div>
    <!-- End of breadcrumbs -->

    <!-- Hero slider -->
        
        {% set cardSample %}
        {{
          CardWide1.content(
            {
              "className" : ["h-100"],
              "title" : "Standard title"
            }
          )
        }}
        {% endset %}

        {% set cardSample2 %}
        {{
          CardWide1.content(
            {
              "className" : ["h-100"],
              "title" : "Title 2"
            }
          )
        }}
        {% endset %}

        {{ SlideShow2.content(
            {
              "className" : ["mb-6"],
                "activateControls" : true,
                "slides" : [
                    cardSample,
                    cardSample2,
                    cardSample
                ]
            }
        ) }}

    <!-- End of hero slider -->

    <!-- Content layout -->

        {# START OF CONTENT BUFFER #}

            {# Content #}
              {% set mediaCardContent %}
                  {{ Card3.content({"variations" : ["theme-2"], "className" : ["h-100"]}) }}
              {% endset %}
              {% set mediaCardContentInline %}
                {{ CardInline1.content(
                    { 
                        "img" : { "mainSrc" : "https://placehold.co/512x512" },
                        "date": {
                            "dateTime" : "1984-02-14 00:00:00",
                            "formatted" : "29/11/2022"
                        },
                        "title" : "Inline card title",
                        "content" : "Giusti Software: ergonomia digitale, un nuovo modo di concepire lo sviluppo delle App. Articolo all’interno della sezione “Aziende & Territorio: Le tecnologie digitali guidano l’imprenditoria verso la crescita”.",
                        "cta" : {
                            "link" : "#read-more",
                            "title" : "Leggi tutto"
                        }                
                    }
                ) }}
              {% endset %}
              {% set gridArticle1 %}
                {{
                    GridList1.content(
                        {
                          "cols" : "col-12",
                          "contained" : false,
                          "elements" : [
                              { "content" : mediaCardContent }
                          ]
                        }
                    )
                }}
              {% endset %}
              {% set gridArticle2 %}
                {{
                    GridList1.content(
                        { 
                          "cols" : "col-12 col-md-6",
                          "contained" : false,
                          "elements" : [
                            { "content" : mediaCardContent },
                            { "content" : mediaCardContent }
                          ]
                        }
                    )
                }}
              {% endset %}
              {% set gridArticle3 %}
                {{
                    GridList1.content(
                        { 
                          "cols" : "col-12",
                          "contained" : false,
                          "elements" : [
                            { "content" : mediaCardContentInline },
                            { "content" : mediaCardContentInline },
                            { "content" : mediaCardContentInline },
                            { "content" : mediaCardContentInline },
                            { "content" : mediaCardContentInline }
                          ]
                        }
                    )
                }}
              {% endset %}
              {% set pagination %}
                {% set PaginationWPNavi %}
                    <div class="wp-pagenavi" role="navigation">
                        <a class="previouspostslink" rel="prev" aria-label="Previous Page" href="#previousPage">
                        </a>
                        <span aria-current="page" class="current">1</span>
                        <a class="page larger" title="Page 2" href="#page2">2</a>
                        <a class="page larger" title="Page Dots" href="#pagedots">...</a>
                        <a class="page larger" title="Page 3" href="#page3">4</a>
                        <a class="nextpostslink" rel="next" aria-label="Next Page" href="#nextPage">
                        </a>
                    </div>
                {% endset %}
                {{Pagination.content({"className" : ["py-4", "text-center"], "content" : PaginationWPNavi })}}
              {% endset %}
            {# End of content #}

            {# Sidebar #}
                {% set SummaryContent %}
                    <!-- Summary -->
                        {{
                            TreeNav.content(
                                {
                                    "title" : "Tree nav title",
                                    "backBtn" : {
                                        "link" : "#back-link",
                                        "label" : "Scheda Principale"
                                    },
                                    "entries" : [
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "highlight" : true,
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            },
                                            "subLevel" : [
                                                {
                                                    "mainLevel" : {
                                                        "highlight" : true,
                                                        "link" : "#test-highlight",
                                                        "label" : "Sublevel title linked highlighted"
                                                    }
                                                },
                                                {
                                                    "mainLevel" : {
                                                        "label" : "Second level label",
                                                        "link" : "#test"
                                                    }
                                                },
                                                {   
                                                    "mainLevel" : {
                                                        "label" : "Third level opening title no link"
                                                    },
                                                    "subLevel" : [
                                                        {
                                                            "mainLevel" : {
                                                                "label" : "Third level",
                                                                "link" : "#third-level-link"
                                                            },
                                                            "subLevel" : [
                                                                {
                                                                    "mainLevel" : {
                                                                        "label" : "Fourth level",
                                                                        "link" : "#fourth-level-link"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "mainLevel" : {
                                                                "label" : "Third level",
                                                                "link" : "#third-level-link"
                                                            },
                                                            "subLevel" : [
                                                                {
                                                                    "mainLevel" : {
                                                                        "label" : "Fourth level",
                                                                        "link" : "#fourth-level-link"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        }
                                    ]
                                }
                            )
                        }}
                    <!-- End of summary -->
                {% endset %}
                {% set tagCloud %}
                  {{ RichTextBlock1.content({"content" : "<h5>Tag</h5>" }) }}
                  <ul class="d-flex flex-wrap gap-2">
                    <li>{{Tag.content( {"label" : "Tag name", "url" : "#tag-url" } )}}</li>
                    <li>{{Tag.content( {"label" : "Tag name lorem", "url" : "#tag-url" } )}}</li>
                    <li>{{Tag.content( {"label" : "Tag name", "url" : "#tag-url" } )}}</li>
                    <li>{{Tag.content( {"label" : "Tag name", "url" : "#tag-url" } )}}</li>
                    <li>{{Tag.content( {"label" : "Tag name", "url" : "#tag-url" } )}}</li>
                  </ul>
                {% endset %}
                {% set shareBar %}
                    <!-- Share bar -->
                        {{
                            ShareBar.content(
                                {
                                    "socialList" : [
                                        { "slug" : "facebook", "icon" : "facebook", "name" : "Facebook" },
                                        { "slug" : "linkedin", "icon" : "linkedin", "name" : "Linkedin" },
                                        { "slug" : "twitter", "icon" : "twitter", "name" : "Twitter" }
                                    ]
                                }
                            )
                        }}
                    <!-- End share bar -->
                {% endset %}
            {# End of sidebar #}

        {# END OF CONTENT BUFFER #}

        {{
            ContentLayout1.content(
                {
                    "className" : ["pb-10"],
                    "layout" : "layout2",
                    "col1Content" : [
                        { "content" : gridArticle1 },
                        { "content" : gridArticle2 },
                        { "content" : gridArticle3 },
                        { "content" : pagination }
                    ],
                    "col2Content" : [
                        { "content" : SummaryContent },
                        { "content" : tagCloud },
                        { "content" : shareBar }
                    ]
                }
            )
        }}

    <!-- End of content layout -->

    <!-- Prova nikè -->
      {% set contentHTML %}
        {% set gridContent1 %}
          {{
              CardIcon.content(
                {
                  "className" : ["h-100"]
                }
              )
          }}
        {% endset %}
        {% set gridContent2 %}
          {{
              CardIcon.content(
                {
                  "className" : ["h-100"],
                  "variations" : ["theme-2"], 
                  "iconName" : "user",
                  "title" : "Richiedi una consulenza gratuita",
                  "subTitle" : "Compila il form per prenotare senza impegno una consulenza gratuita di primo livello."
                }
              )
          }}
        {% endset %}
        {{
          GridList1.content(
            {
              "cols" : "col-12 col-sm-6",
              "elements" : [
                {
                  "content" : gridContent1
                },
                {
                  "content" : gridContent2
                }
              ]
            }
          )
        }}
      {% endset %}
      {{
        Section1.content(
          {
            "txtAlignContent" : "text-left",
            "variations" : ["theme-2"],
            "preTitle" : "Prova nikè",
            "title" : "Richiedi una demo di Nikè CRM o una consulenza gratuita e scopri come può portare la tua azienda verso il successo",
            "content" : contentHTML
          }
        )
      }}
    <!-- End of prova nikè -->
    
    <!-- Newsletter -->
      {% set sampleContent %}
          {{
              NewsletterBox1.content()
          }}
      {% endset %}
      {{
          Section6.content(
              {
                  "content" : sampleContent
              }
          )
      }}
    <!-- End of newsletter -->

    <!-- Contatti -->
      {% set mapContent %}
        {{
          Map.content(
            {
              "className" : ["h-100", "w-100"],
              "src" : "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5759.862461651769!2d11.209139!3d43.79504000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132a56e190990909%3A0x70c0443cebc153ba!2sVia%20Alberto%20Franchetti%2C%2019%2C%2050127%20Firenze%20FI!5e0!3m2!1sit!2sit!4v1684190719849!5m2!1sit!2sit"
            }
          )
        }}
      {% endset %}
      {{
        ContactBox1.content(
          {
            "title" : "Contatti",
            "frameContent" : mapContent
          }
        )
      }}
    <!-- End of contatti -->

{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
