{# Sets the layout to be extended #}
{% extends "layouts/default.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": template_home,
  "title": "Single Page",
  "className" : "zaux-theme--light1",
  "isHome" : true
} %}

{# Imports components #}
{% import 'components/emptyblock/emptyblock.njk' as EmptyBlock %}
{% import 'components/header/header.njk' as header %}
{% import 'components/newsletterbox1/newsletterbox1.njk' as NewsletterBox1 %}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btn.njk' as Button %}
{% import 'components/herocomp1/herocomp1.njk' as HeroComp1 %}
{% import 'components/section1/section1.njk' as Section1 %}
{% import 'components/section4/section4.njk' as Section4 %}
{% import 'components/section6/section6.njk' as Section6 %}
{% import 'components/gridlist1/gridlist1.njk' as GridList1 %}
{% import 'components/contactbox1/contactbox1.njk' as ContactBox1 %}
{% import 'components/card1/card1.njk' as Card1 %}
{% import 'components/card2/card2.njk' as Card2 %}
{% import 'components/card3/card3.njk' as Card3 %}
{% import 'components/bulletlist/bulletlist.njk' as BulletList %}
{% import 'components/map/map.njk' as Map %}
{% import 'components/cardicon/cardicon.njk' as CardIcon %}
{% import 'components/sliderstrip1/sliderstrip1.njk' as SliderStrip1 %}
{% import 'components/img/img.njk' as Img %}
{% import 'components/bannerimg1/bannerimg1.njk' as BannerImg1 %}
{% import 'components/titlebanner/titlebanner.njk' as TitleBanner %}
{% import 'components/breadcrumbs1/breadcrumbs1.njk' as Breadcrumbs %}
{% import 'components/contentlayout1/contentlayout1.njk' as ContentLayout1 %}
{% import 'components/summarymenu/summarymenu.njk' as SummaryMenu %}
{% import 'components/cardlink/cardlink.njk' as CardLink %}
{% import 'components/sharebar/sharebar.njk' as ShareBar %}
{% import 'components/richtextblock1/richtextblock1.njk' as RichTextBlock1 %}
{% import 'components/treenav/treenav.njk' as TreeNav %}
{% import 'components/stepindex/stepindex.njk' as StepIndex %}
{% import 'components/imgstrip1/imgstrip1.njk' as ImgStrip1 %}


{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}

    <!-- Hero Banner -->
        {{ BannerImg1.content() }}
    <!-- End of hero banner -->

    <!-- Breadcrumbs -->
        <div class="container-l pb-6 pt-7 pt-md-9 pb-md-7">
            {{ Breadcrumbs.content() }}
        </div>
    <!-- End of breadcrumbs -->

    <!-- Content layout -->

        {# START OF CONTENT BUFFER #}

            {# Content #}
                {% set titleBannerContent %}
                    <!-- Title banner -->
                        {{
                            TitleBanner.content(
                                {
                                    "contained" : false,
                                    "title" : "Title page",
                                    "subtitle" : "Lorem ipsum dolor sit amet"
                                }
                            )
                        }}
                    <!-- End of title banner -->
                {% endset %}
                {% set stepIndexContent %}
                  {% set sampleContent %}
                      <p>
                          Il core del progetto <strong>Nikè</strong> va oltre la presa dell’ordine, rendendo disponibili un’ampia gamma di App verticali, che assicurano la copertura di gran parte delle attività deputate all’area commerciale. Una struttura modulabile e flessibile che consente di iniziare a lavorare in configurazione ottimale scegliendo le App di maggiore interesse, con la consapevolezza che – al momento opportuno – sarà possibile aggiungere altre App e funzionalità.
                      </p>
                  {% endset %}
                  {{ StepIndex.content(
                      {
                        "stepIndex" : 1,
                        "title" : "Title step index",
                        "content" : sampleContent,
                        "imgStrip" : [
                          {
                            "mainSrc" : "https://placehold.co/200x100"
                          },
                          {
                            "mainSrc" : "https://placehold.co/200x100"
                          },
                          {
                            "mainSrc" : "https://placehold.co/200x100"
                          },
                          {
                            "mainSrc" : "https://placehold.co/200x100"
                          }
                        ]
                      }
                  ) }}
                {% endset %}
                {% set stepIndexContent2 %}
                  {% set sampleContent %}
                      <p>
                          Il core del progetto <strong>Nikè</strong> va oltre la presa dell’ordine, rendendo disponibili un’ampia gamma di App verticali, che assicurano la copertura di gran parte delle attività deputate all’area commerciale. Una struttura modulabile e flessibile che consente di iniziare a lavorare in configurazione ottimale scegliendo le App di maggiore interesse, con la consapevolezza che – al momento opportuno – sarà possibile aggiungere altre App e funzionalità.
                      </p>
                  {% endset %}
                  {{ StepIndex.content(
                      {
                        "stepIndex" : 2,
                        "title" : "Title step index no images",
                        "content" : sampleContent
                      }
                  ) }}
                {% endset %}
                {% set imgStrip %}
                    {{
                        ImgStrip1.content(
                            {
                                "images" : [
                                    {
                                        "mainSrc" : "https://placehold.co/200x100"
                                    },
                                    {
                                        "mainSrc" : "https://placehold.co/300x200"
                                    },
                                    {
                                        "mainSrc" : "https://placehold.co/200x100"
                                    }        
                                ]
                            }
                        )
                    }}
                {% endset %}  
                {% set richTextBlock %}
                    {% set richTextSample %}
                        {% include 'layouts/partials/richtext2.njk' %}
                    {% endset %}
                    {{ RichTextBlock1.content({"content" : richTextSample }) }}
                {% endset %}
            {# End of content #}

            {# Sidebar #}
                {% set SummaryContent %}
                    <!-- Summary -->
                        {{
                            TreeNav.content(
                                {
                                    "title" : "Tree nav title",
                                    "backBtn" : {
                                        "link" : "#back-link",
                                        "label" : "Scheda Principale"
                                    },
                                    "entries" : [
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "highlight" : true,
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            },
                                            "subLevel" : [
                                                {
                                                    "mainLevel" : {
                                                        "highlight" : true,
                                                        "link" : "#test-highlight",
                                                        "label" : "Sublevel title linked highlighted"
                                                    }
                                                },
                                                {
                                                    "mainLevel" : {
                                                        "label" : "Second level label",
                                                        "link" : "#test"
                                                    }
                                                },
                                                {   
                                                    "mainLevel" : {
                                                        "label" : "Third level opening title no link"
                                                    },
                                                    "subLevel" : [
                                                        {
                                                            "mainLevel" : {
                                                                "label" : "Third level",
                                                                "link" : "#third-level-link"
                                                            },
                                                            "subLevel" : [
                                                                {
                                                                    "mainLevel" : {
                                                                        "label" : "Fourth level",
                                                                        "link" : "#fourth-level-link"
                                                                    }
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "mainLevel" : {
                                                                "label" : "Third level",
                                                                "link" : "#third-level-link"
                                                            },
                                                            "subLevel" : [
                                                                {
                                                                    "mainLevel" : {
                                                                        "label" : "Fourth level",
                                                                        "link" : "#fourth-level-link"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        },
                                        {
                                            "mainLevel" : {
                                                "label" : "First level label",
                                                "link" : "#first-level-link"
                                            }
                                        }
                                    ]
                                }
                            )
                        }}
                    <!-- End of summary -->
                {% endset %}
                {% set shareBar %}
                    <!-- Share bar -->
                        {{
                            ShareBar.content(
                                {
                                    "socialList" : [
                                        { "slug" : "facebook", "icon" : "facebook", "name" : "Facebook" },
                                        { "slug" : "linkedin", "icon" : "linkedin", "name" : "Linkedin" },
                                        { "slug" : "twitter", "icon" : "twitter", "name" : "Twitter" }
                                    ]
                                }
                            )
                        }}
                    <!-- End share bar -->
                {% endset %}
            {# End of sidebar #}

        {# END OF CONTENT BUFFER #}

        {{
            ContentLayout1.content(
              {
                "layout" : "layout2",
                "className" : ["pb-10"],
                "col1Content" : [
                    { "content" : titleBannerContent },
                    { "content" : stepIndexContent },
                    { "content" : stepIndexContent2 },
                    { "content" : richTextBlock },
                    { "content" : imgStrip },
                    { "content" : imgStrip }
                ],
                "col2Content" : [
                  { "content" : SummaryContent },
                  { "content" : shareBar }
                ]
              }
            )
        }}

    <!-- End of content layout -->

    <!-- Case History -->
      {% set slider %}
        {% set sliderStripContentSample %}
          {{ 
            Card2.content({ 
              "media" : {
                "mainSrc" : "https://placehold.co/206x115"
              },
              "content" : "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. ",
              "cta" : {
                "link" : "#continua-a-leggere",
                "label" : "Continua a leggere"
              }
          }) }}
        {% endset %}
        {{ SliderStrip1.content({
          "cta" : {
            "label" : "Vedi tutti",
            "link" : "#see-all-link"
          },
          "slidesPerView" : 3,
          "slides" : [
            {
              "content" : sliderStripContentSample
            },
            {
              "content" : sliderStripContentSample
            },
            {
              "content" : sliderStripContentSample
            },
            {
              "content" : sliderStripContentSample
            },
            {
              "content" : sliderStripContentSample
            },
            {
              "content" : sliderStripContentSample
            },
            {
              "content" : sliderStripContentSample
            },
            {
              "content" : sliderStripContentSample
            },
            {
              "content" : sliderStripContentSample
            },
            {
              "content" : sliderStripContentSample
            }
          ]
        }) }}
      {% endset %}
      {{
        Section1.content(
          {
            "variations" : ["theme-3"],
            "preTitle" : "Case history",
            "title" : "Sfoglia i nostri altri casi studio di successo",
            "content" : slider,
            "cta" : {
              "label" : "Vedi tutti i case history",
              "link" : "#case-history"
            }
          }
        )
      }}
    <!-- End of case history -->

    <!-- Prova nikè -->
      {% set contentHTML %}
        {% set gridContent1 %}
          {{
              CardIcon.content(
                {
                  "className" : ["h-100"]
                }
              )
          }}
        {% endset %}
        {% set gridContent2 %}
          {{
              CardIcon.content(
                {
                  "className" : ["h-100"],
                  "variations" : ["theme-2"], 
                  "iconName" : "user",
                  "title" : "Richiedi una consulenza gratuita",
                  "subTitle" : "Compila il form per prenotare senza impegno una consulenza gratuita di primo livello."
                }
              )
          }}
        {% endset %}
        {{
          GridList1.content(
            {
              "cols" : "col-12 col-sm-6",
              "elements" : [
                {
                  "content" : gridContent1
                },
                {
                  "content" : gridContent2
                }
              ]
            }
          )
        }}
      {% endset %}
      {{
        Section1.content(
          {
            "txtAlignContent" : "text-left",
            "variations" : ["theme-2"],
            "preTitle" : "Prova nikè",
            "title" : "Richiedi una demo di Nikè CRM o una consulenza gratuita e scopri come può portare la tua azienda verso il successo",
            "content" : contentHTML
          }
        )
      }}
    <!-- End of prova nikè -->
    
    <!-- Newsletter -->
      {% set sampleContent %}
          {{
              NewsletterBox1.content()
          }}
      {% endset %}
      {{
          Section6.content(
              {
                  "content" : sampleContent
              }
          )
      }}
    <!-- End of newsletter -->

    <!-- Contatti -->
      {% set mapContent %}
        {{
          Map.content(
            {
              "className" : ["h-100", "w-100"],
              "src" : "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5759.862461651769!2d11.209139!3d43.79504000000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132a56e190990909%3A0x70c0443cebc153ba!2sVia%20Alberto%20Franchetti%2C%2019%2C%2050127%20Firenze%20FI!5e0!3m2!1sit!2sit!4v1684190719849!5m2!1sit!2sit"
            }
          )
        }}
      {% endset %}
      {{
        ContactBox1.content(
          {
            "title" : "Contatti",
            "frameContent" : mapContent
          }
        )
      }}
    <!-- End of contatti -->

{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
