{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn2/btn2.njk' as Button2 %}
{% import 'components/btn/btn.njk' as Button %}
{% import 'components/img/img.njk' as Img %}

{% macro content(obj) %}

    {% set componentClassName = 'c-picturecard1' %}

    {% set configDefault = {
        "className": [""],
        "variations" : [],
        "content" : component_mosaic1.content,
        "contentTitleTag" : "h5",
        "cardType" : "square",
        "img" : component_picturecard1.defaultSquareImg,
        "titleTag" : "h5",
        "size" : "regular"
    }%}
 
    {% set obj = configDefault | overwriteMerge(obj or {}) %}

    {# Creates new arrays for manipulation) #}
    {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}
    {% set imgVariations = ["ratio-3"] %}

    {% if obj.cardType == "square" %}
        {% set imgVariations = ["ratio-1"] %}
    {% elif obj.cardType == "wide" %}
        {% set imgVariations = ["ratio-4", "ratio-sm-4"] %}
    {% endif %}

    {# Pushes every variation into class attribute (prepending the base class) #}
    {% for variation in ([] | mergeArray(obj.variations or configDefault.variations)) %}
        {% set _className = (_className.push(componentClassName +"--" + variation), _className) %}
    {% endfor %}

    {% set _className = (_className.push(componentClassName +"--" + obj.cardType), _className) %}

    <div class="{{_className | join(" ")}}">
        <div class="{{componentClassName}}__inner overflow-hidden">
            <a class="{{componentClassName}}__anchor" title="{{obj.title}}" href="{{obj.cta.url}}"></a>
            {{
                Img.content({
                    "variations" : imgVariations,
                    "mainSrc" : obj.img.mainSrc,
                    "sourceList" : obj.img.sourceList
                })
            }}
            <div class="{{componentClassName}}__content d-flex justify-content-center flex-column text-center px-6 py-6">
                <div class="d-flex flex-column gap-6">
                    {% if obj.icon %}
                        <div class="{{componentClassName}}__icon">
                            {% set iconParams = {"variations" : ["size-6"]} %}
                            {% set iconParams = iconParams | overwriteMerge(obj.icon) %}
                            {{
                                Icon.content(iconParams)
                            }}
                        </div>
                    {% endif %}
                    <{{configDefault.titleTag}} class="{{componentClassName}}__title c-typo-style1-size-display-4 fw-bold">
                        {{obj.title}}
                    </{{configDefault.titleTag}}>
                    {% if obj.cta %}
                    <div class="pt-4">
                        {% set ctaParams = {"variations" : ["primary"]} %}
                        {% set ctaParams = ctaParams | overwriteMerge(obj.cta) %}
                        {{
                            Button.content(ctaParams)
                        }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endmacro %}