{# Imports components #}
{% macro content(obj) %}

    {% set componentClassName = 'c-sepline' %}

    {% set configDefault = {
        "className" : [],
        "variations" : [],
        "id" : "id_goes_here",
        "attr" : ""
    }%}

    {% set obj = configDefault | overwriteMerge(obj or {}) %}

    {# Creates new arrays for manipulation) #}
    {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}
    {% set componentId = obj.id or "offcanvasid" %}
    {% set menuEntries = obj.menuEntries or component_offcanvasnav.menuEntries or [] %}
    {% set srOnlyTitle = obj.srOnlyTitle or configDefault.srOnlyTitle %}

    {# Pushes every variation into class attribute (prepending the base class) #}
    {% for variation in ([] | mergeArray(obj.variations or configDefault.variations)) %}
        {% set _className = (_className.push(componentClassName +"--" + variation), _className) %}
    {% endfor %}

    {% if obj.contained %}
    <div class="container-l container--spacing1">
    {% endif %}
    <hr {{obj.attr}} id="{{obj.id}}" class="{{_className | join(" ") | trim}} m-0"/>
    {% if obj.contained %}
    </div>
    {% endif %}
{% endmacro %}
