{# Sets the layout to be extended #}
{% extends "layouts/component.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_component,
  "title": "Card 3",
  "noSidePad" : false
} %}

{# Imports components #}
{% import 'components/card3/card3.njk' as Card3 %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}
  <div class="zaux-theme--light1">
    <div class="zaux-bg-set1-color3 p-6 d-inline-block maxw-576px">
        {{
            Card3.content()
        }}
    </div>
  </div>
{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
