{# Sets the layout to be extended #}
{% extends "layouts/component.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_component,
  "title": "Hero comp 1",
  "fullPage" : true,
  "noSidePad" : false
} %}

{# Imports components #}
{% import 'components/herocomp1/herocomp1.njk' as HeroComp1 %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}

    <div class="zaux-theme--light1">
        {{
            HeroComp1.content()
        }}
    </div>
{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
