{# Sets the layout to be extended #}
{% extends "layouts/component.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_component,
  "title": "Nav Modal 1"
} %}

{# Imports components #}
{% import 'components/navmodal1/navmodal1.njk' as NavModal1 %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}

    <div class="zaux-theme--light1">
        <button class="c-btn c-btn--primary" data-bs-toggle="modal" data-bs-target="#modaltest1">Show modal</button>
        {{ NavModal1.content(
            {
                "modalId" : "modaltest1"
            }
        )}}
    </div>

{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
