{# Sets the layout to be extended #}
{% extends "layouts/component.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_component,
  "title": "Off canvas nav",
  "isHome": false
} %}

{# Imports components #}
{% import 'components/offcanvasnav/offcanvasnav.njk' as OffCanvasNav %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}

  <div class="zaux-theme--light1">
    {{
      OffCanvasNav.content({"variations" : ["open"], "id" : "offcanvasmenusample"})
    }}
  </div>

{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
