{# Sets the layout to be extended #}
{% extends "layouts/component.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_component,
  "title": "Summary menu"
} %}

{# Imports components #}
{% import 'components/summarymenu/summarymenu.njk' as SummaryMenu %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}
    <div class="zaux-theme--light1">
        {{SummaryMenu.content()}}
    </div>
{% endblock %}


{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
