{# Sets the layout to be extended #}
{% extends "layouts/component.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_component,
  "title": "Tag"
} %}

{# Imports components #}
{% import 'components/tag/tag.njk' as Tag %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}
    <div class="zaux-theme--light1">
        {{Tag.content(
          {
            "url" : "#tag-url",
            "label" : "Tag name"
          }
        )}}
    </div>
{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
