{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/img/img.njk' as Img %}
{% import 'components/btn/btn.njk' as Button %}
{% import 'components/btn2/btn2.njk' as Button2 %}
{% import 'components/svgdeco1/svgdeco1.njk' as SvgDeco1 %}

{% macro content(obj) %}

    {% set componentClassName = 'c-section1' %}

    {% 
        set configDefault = {
            "className": [],
            "variations" : [],
            "contained" : true,
            "preTitleTag" : "h4",
            "titleTag" : "h3",
            "subTitle" : "",
            "preTitle" : component_section1.preTitle,
            "title" : component_section1.title,
            "subTitle" : component_section1.subTitle,
            "preTitle" : component_section1.preTitle,
            "txtAlignHead" : "text-center",
            "txtAlignContent" : "text-center",
            "txtAlignFoot" : "text-center"
        }
    %}

    {% set obj = configDefault | overwriteMerge(obj or {}) %}

    {# Creates new arrays for manipulation) #}
    {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

    {% set obj = configDefault | overwriteMerge(obj or {}) %}
    {% set label = obj.label or configDefault.label %}
    
    {# Pushes every variation into class attribute (prepending the base class) #}
    {% for variation in ([] | mergeArray(obj.variations or configDefault.variations)) %}
        {% set _className = (_className.push(componentClassName +"--" + variation), _className) %}
    {% endfor %}    

    <div class="{{_className | join(" ") | trim}}">
        <div class="{{componentClassName}}__inner py-7 py-md-9">
            {% if obj.contained %}
            <div class="container-l d-flex flex-column gap-6 gap-md-8">
            {% endif %}
                <div class="{{componentClassName}}__head {{obj.txtAlignHead}} d-flex flex-column gap-5">
                    {% if obj.preTitle %}
                        <{{obj.preTitleTag}} class="{{componentClassName}}__eyelet c-typo-style1-eyelet-m ls-1">{{obj.preTitle | safe}}</{{obj.preTitleTag}}>
                    {% endif %} 
                    {% if obj.headLogo %}
                        {% set imgParams = {} %}
                        {% set imgParams = imgParams | overwriteMerge(obj.headLogo) %}
                        {{
                            Img.content(imgParams)
                        }}
                    {% endif %}
                    {% if obj.title %}
                        <{{obj.titleTag}} class="{{componentClassName}}__title c-typo-style1-title-m c-typo-style1-md-title-l">{{obj.title | safe}}</{{obj.titleTag}}>
                    {% endif %}
                    {% if obj.subTitle %}
                        <p class="{{componentClassName}}__subtitle c-typo-style1-text-m">{{obj.subTitle | safe }}</p>
                    {% endif %}
                </div>
                {% if obj.content %}
                    <div class="{{componentClassName}}__body {{obj.txtAlignContent}}">
                        {{ obj.content | safe }}
                    </div>
                {% endif %}
                {% if obj.cta %}
                    <div class="{{componentClassName}}__foot {{obj.txtAlignFoot}}">
                        {% set ctaParams = {"variations" : ["primary", "size-l"]} %}
                        {% set ctaParams = ctaParams | overwriteMerge(obj.cta) %}
                        {{
                            Button.content(ctaParams)
                        }}
                    </div>
                {% endif %}
            {% if obj.contained %}
            </div>
            {% endif %}
        </div>
    </div>

{% endmacro %}