@charset "UTF-8";

$component: componentClass("cardicon");
$cmp-tokens: ();

////////////////////////////////////////////////////
// Theme: Light1
////////////////////////////////////////////////////

.zaux-theme--#{$zaux-theme-light1} .#{$component}{
    background-color:tokenColor("set1","color1");
    color:tokenColor("set1","black1");

    &__icon{
        *{
            color:tokenColor("set1","white1");
        }
    }

    &--theme{
        &-2{
            background-color:tokenColor("set1","color3");
            color:tokenColor("set1","white1");
            .#{$component}{
                &__title{
                    color:tokenColor("set1","color1");
                }
            }
        }
    }
}