@charset "UTF-8";

$component: componentClass("section6");
$cmp-tokens: ();

.#{$component} {
    &__bg{
        position:absolute;
        height:100%;
        width:100%;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
}