$zaux-token-defs:(
  app-prefix: zaux,
  app-loaded-classname: zaux-loaded,
  component-prefix: c-,
  css-var-prefix: zx,
  compatibility-layer: false,
  custom-mq: (
    _info: "https://css-tricks.com/snippets/css/media-queries-for-standard-devices/",
    tablet-landscape: "screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)",
    tablet-xl: "screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2)"
  ),
  mainFont: Helvetica Neue LT Std,
  mainFontFamily: "Helvetica Neue LT Std, sans-serif",
  mainFontSlug: helvetica,
  activeIconSet: icozaux1,
  activeIcons: (
    arrow-enter-left: arrow-enter-left,
    arrow-enter-right: arrow-enter-right,
    hamburger: hamburger,
    close: close,
    comic: comic,
    envelope: envelope,
    gear: gear,
    headphones: headphones,
    nikeglyph: nikeglyph,
    giustiglyph: giustiglyph,
    phone: phone,
    play: play,
    search: search,
    share: share,
    user: user,
    arrow2-down: arrow2-down,
    arrow2-left: arrow2-left,
    arrow2-right: arrow2-right,
    arrow2-up: arrow2-up,
    playbtn: playbtn,
    download: download,
    made-in-zaki: made-in-zaki,
    arrow1-right: arrow1-right,
    arrow1-top: arrow1-top,
    arrow1-left: arrow1-left,
    arrow1-down: arrow1-down,
    amex: amex,
    shopify-pay: shopify-pay,
    arrow-circle-left: arrow-circle-left,
    arrow-circle-top: arrow-circle-top,
    arrow-circle-right: arrow-circle-right,
    arrow-circle-down: arrow-circle-down,
    applepay: applepay,
    facebook: facebook,
    google: google,
    googlepay: googlepay,
    instagram: instagram,
    linkedin: linkedin,
    mastercard: mastercard,
    paypal: paypal,
    pinterest: pinterest,
    samsungpay: samsungpay,
    telegram: telegram,
    twitter: twitter,
    visa: visa,
    whatsapp: whatsapp,
    youtube: youtube
  )
);
