@charset "UTF-8";

$component: componentClass("mediacard1");
$cmp-tokens: ();

.zaux-theme--#{$zaux-theme-light1} .#{$component}{
    &__media-icon{
        color:tokenColor("set1","color1");
    }

    &--theme-2{
        color:tokenColor("set1","white1");
    }
}