{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn2/btn2.njk' as Button2 %}
{% import 'components/btn/btn.njk' as Button %}
{% import 'components/img/img.njk' as Img %}

{% macro content(obj) %}

    {% set componentClassName = 'c-sharebar' %}

    {% set configDefault = {
        "className": [],
        "variations" : []
    }%}
 
    {% set obj = configDefault | overwriteMerge(obj or {}) %}
    {% set theme = "default" %}

    {# Creates new arrays for manipulation) #}
    {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

    {# Pushes every variation into class attribute (prepending the base class) #}
    {% for variation in ([] | mergeArray(obj.variations or configDefault.variations)) %}
        {% set _className = (_className.push(componentClassName +"--" + variation), _className) %}
        {% if "theme" in variation %}
            {% set theme = variation %}
        {% endif %}
    {% endfor %}
    
    <div class="{{_className | join(" ")}}">
        <div class="{{componentClassName}}__inner py-5 d-flex gap-6 align-items-center">
            {{
                Icon.content({"variations" : ["size-4"], "iconName" : "share"})
            }}
            <ul class="{{componentClassName}}__social-list d-flex gap-5 align-items-center">
                {% for social in obj.socialList %}
                    <li class="lh-0">
                        <button role="button" data-sharer="{{social.slug}}" data-url="{{social.url or "#sample-url"}}">
                            {{Icon.content({ "iconName" : social.icon, "variations" : ["size-2"] })}}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endmacro %}