{% include "layouts/partials/html_comment_credits.njk" %}
<!DOCTYPE html>
<html lang="{{app.lang}}">
  <head>
    <meta charset="utf-8">

    {# @todo #bugfix1 Da cambiare #}
    {# <meta name="viewport" content="width=device-width, initial-scale=1.0"/> #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} - {{app.title}}</title>
    <meta name="application-name" content="{{app.title}}"/>

    <!--
    Theme colors for web browsers and favicons
    @see https://codeburst.io/progressive-web-apps-customize-status-bar-23c4b2de590f
    -->
    <meta name="theme-color" content="{{token_colors.app.theme}}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{token_colors.app.theme}}">
    <meta name="msapplication-navbutton-color" content="{{token_colors.app.theme}}">
    <meta name="msapplication-TileColor" content="{{token_colors.app.theme}}"/>

    {% include "layouts/partials/head_favicon.njk" %}

    <!--
    Disables phone number format recognition in Microsoft Edge
    @see https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/dev-guides/dn265018(v=vs.85)
    -->
    <meta name="format-detection" content="telephone=no">

    <!-- CSS -->
    {% include "layouts/partials/head_css.njk" %}
    {% include "layouts/partials/guidelines_css.njk" %}
    {% block head_css %}
    {% endblock %}

  </head>
  <body{% if page.bodyClass %} class="{{page.bodyClass}}"{% endif %}>

    {% set fullPage = page.fullPage or false %}

    {% if fullPage == false %}
        <div class="guideline-component-stage {% if page.noSidePad == true %}px-0{% endif %}" id="{{token_defs['app-prefix']}}-content-inner">
        <h3 style="margin-bottom:var(--guideline-space1);" class="guideline__title {% if page.noSidePad == true %}px-8{% endif %}">{{page.title}}</h3>
    {% endif %}
        {% block content %}{% endblock %}
    {% if fullPage == false %}
      </div>
    {% endif %}

    <!-- CSS -->
    <!-- Fonts -->
    {% include "layouts/partials/foot_css.njk" %}
    <!--<link href="https://use.typekit.net/azk8ezp.css" rel="stylesheet preload" as="style" crossorigin>-->


    <!-- JS -->
    {% include "layouts/partials/config_js.njk" %}
    {% include "layouts/partials/foot_js.njk" %}
    {% block foot_js %}{% endblock %}

  </body>
</html>
