{% macro content(obj) %}
    
    {% set formComponentClassName = "c-form" %}
    {% set componentClassName = formComponentClassName + '__field' %}
    {% set configDefault = {
        "className" : [],
        "variations" : ["select"],
        "validationPotClasses" : [],
        "type" : "text",
        "options" : [
            { "label" : "Select a value", "value" : "" },
            { "label" : "Value 1", "value" : "value1" },
            { "label" : "Value 2", "value" : "value2" }
        ],
        "hasWrapper" : true
    }
    %}

    {% set obj = configDefault | overwriteMerge(obj or {}) %}
    {% set _validationPotClasses = [] %}

    {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}
    {% set _validationPotClasses = [] %}
    {% set placeHolder = obj.placeHolder or configDefault.placeHolder %}
    {% set type = obj.type or configDefault.type %}
    {% set optionList = obj.optionList or configDefault.options %}
    {% set hasWrapper =  obj.hasWrapper or configDefault.hasWrapper %}
    {% set name = obj.name or "name" %}
    {% set label = obj.label or '' %}

    {# Pushes every variation into class attribute (prepending the base class) #}
    {% for variation in ([] | mergeArray(obj.variations or configDefault.variations)) %}
        {% set _className = (_className.push(componentClassName +"--" + variation), _className) %}
    {% endfor %}

    {# Pushes every validation pot class on the wrapper (prepending the base class + -wrap) #}
    {% for validationPotClass in ( configDefault.validationPotClasses | mergeArray(obj.validationPotClasses or configDefault.validationPotClasses) ) %}
        {% set _validationPotClasses = (_validationPotClasses.push(validationPotClass), _validationPotClasses) %}
    {% endfor %}

    {% if hasWrapper %}
    <div class="{{componentClassName}}-wrap">
    {%endif%}
        <div class="{{formComponentClassName}}__input-wrap">
            {% if label !== '' %}
                <label class="{{formComponentClassName}}__label mb-2 px-5">{{label}}</label>
            {% endif %}
            <select {% if obj.customAttr %}{{obj.customAttr | safe}}{% endif %} {% if obj.required %}required{% endif %} {% if obj.id %}{{obj.id}}{% endif %} name="{{name}}" class="{{_className | join(" ")}}"/>
                {% for option in optionList %}
                    <option {% if option.attr %}{{option.attr}}{% endif %} value="{{option.value}}">{{option.label}}</option>
                {% endfor %}
            </select>
        </div>
        {% if obj.validationPot %}
            <div class="{{formComponentClassName}}__validation-pot {{_validationPotClasses | join(" ")}}"></div>
        {% endif %}
    {% if hasWrapper %}
    </div>
    {% endif %}

{% endmacro %}